* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {                    
    background-color: #E5EEF3;
    font-family:  "Zain", sans-serif;
    font-weight: 500;
    gap: 2rem;
    margin: 1.5rem;
}

#showList {
    padding: 5rem;
    border:  solid;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 3.5rem;
    font-size: 3rem;
    height: 40vh;
  
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem
}

#task {
    margin-top: 5rem;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    height: 5vh;
   
   
  
}

#addBtn, #deleteeltBtn {
    width: 20%;
    height: 3vh;
    background-color: #FEF4D0 ;
    border-radius: 1.5rem;
    margin: 5rem;
    background-color: black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: "Anek Latin", sans-serif;
    font-size: 2rem;


}

h1, h2 {
    text-align: center;
}

.italicmsg {
    margin-top: 5rem;
    text-align: center;
    font-style: italic;
    font-size: 3rem;

}

h1 {
    font-weight: 700;
    font-size: 5.0rem;
    margin-top: 5rem;
}

h2 {
    font-weight: 700;
    font-size: 4rem;
    margin: 5rem;
}

input[type="checkbox"] {
    width: 3rem;
    margin-right: 2rem;
}

#showList .task {
    margin-bottom: 5rem;
}

@media screen and (min-width: 1000px) {

    #task {
        height: 10vh

}

    #showList {
        height: 50vh;
    }

    #addBtn, #deleteeltBtn {
        height: 7vh;
    }


}